* {
    margin: 0;
    padding:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #364853;
    color: #E4DDD2;
    height:100vh;
    overflow:hidden;
}



.container {
    width: 100%;
    height: 100%;
    /*CSS Smooth Scroll*/
    overflow-y:scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

.content-box{
    max-width: 800px;
    display:grid;
    grid-template-columns: 1,1fr;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.navbar {
    position:fixed;
    top:0;
    z-index:1;
    display: flex;
    width:100%;
    height:60px;
    background:rgba(10,10,10,0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;

}

.navbar ul li{
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a{
    text-decoration:none;
    text-transform: uppercase;
    color:whitesmoke;
}

.navbar ul li a:hover {
    color:#513487;
}


section {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    text-align:center;
    width:auto;
    height:100vh;
    padding: 1vw;
    scroll-snap-align: center;

}

section h1 {
    font-size: 3rem;

}


section p {
    font-size:1 rem;
}

.field{
    width: 100%;
    max-width: 800px;
    padding:1rem;
    margin: 5px;
    font-size: 1.1rem;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 1.0);

}

.area{
    min-height: 150px;

}

.btn{
    width:100%;
    max-width: 200px;
    padding: 0.5rem 1rem;
    font-size:1.1rem;
    background-color: aquamarine;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    background-color: #2eb39a;

}
